<div class="ama-page">
    <app-top-panel></app-top-panel>
    <p>Чтобы было удобнее работать с диаграммой я так же добавил возможность:</p>
    <ol class="ama-table">
        <li>Добавлять колонки.
            <ul>
                <li>При добавлении автоматически "возьмётся" немного процентов из каждой доступной колонки.</li>
            </ul>
        </li>
        <li>Удалять колонки.
            <ul>
                <li>А при удалении - проценты равномерно распределятся по доступным колонкам.</li>
            </ul>
        </li>
        <li>Блокировать изменения в колонке
            <ul>
                <li>Такие колонки не участвуют в пересчётах процентов</li>
            </ul>
        </li>
    </ol>
    <p>На данный момент можно максимум вывести 3 столбика. Но это значение можно регулировать внутри настроек.</p>
    <p>А сумма процентов всегда стримится к 100% с погрешностью в 1%.</p>
</div>