h1 {
  font-size: 1.88rem;
}
.ama-top-panel {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  min-width: 680px;
  margin-top: 1.5vh;
  margin-bottom: 2.5vh;
}
.ama-two-line-head {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}
.ama-two-line-head .ama-first-line-head {
  text-align: right;
}
.ama-two-line-head .ama-second-line-head {
  text-align: right;
}
.ama-nav {
  display: flex;
  justify-content: space-evenly;
  margin-top: 4px;
  margin-bottom: 5px;
}
.btn {
  margin: 0.25rem 0.125rem;
}
.btn-outline-secondary-active {
  --bs-btn-color: #fff;
  --bs-btn-bg: #91969b;
  --bs-btn-border-color: #acb3b9;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #5c636a;
  --bs-btn-hover-border-color: #565e64;
  --bs-btn-focus-shadow-rgb: 130,138,145;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #565e64;
  --bs-btn-active-border-color: #51585e;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #acb3b9;
  --bs-btn-disabled-border-color: #acb3b9;
}
