<h1>Столбчатая диаграмма "Переливайка"</h1>
<nav>
    <button class="btn btn-outline-secondary"
        routerLink="/about"
        routerLinkActive="btn-outline-secondary-active">
        О проекте
    </button>
    <button class="btn btn-outline-secondary"
        routerLink="/container-box"
        routerLinkActive="btn-outline-secondary-active">
        Столбчатая диаграмма
    </button>
    <button class="btn btn-outline-secondary"
        routerLink="/features"
        routerLinkActive="btn-outline-secondary-active">
        Возможности
    </button>
</nav>