<div class="ama-top-panel">
    <div class="ama-two-line-head">
        <h1 class="ama-first-line-head">Столбчатая диаграмма</h1>
        <h1 class="ama-second-line-head">переливайка</h1>
    </div>
    <nav class="ama-nav">
        <button class="btn btn-outline-secondary"
            routerLink="/about"
            routerLinkActive="btn-outline-secondary-active">
            О&nbsp;проекте
        </button>
        <button class="btn btn-outline-secondary"
            routerLink="/container-box"
            routerLinkActive="btn-outline-secondary-active">
            Диаграмма
        </button>
        <button class="btn btn-outline-secondary"
            routerLink="/features"
            routerLinkActive="btn-outline-secondary-active">
            Возможности
        </button>
    </nav>
</div>