
<h1>Столбчатая диаграмма "Переливайка"</h1>
<resizable-container-box-controller/>
<p>Привет, коллега! Здесь ты можешь увидеть мой проект из лета 2021 года, с помощью которого я изучал работу с Angular. Это было до того как обновили данную карьерную цель и обязали делать frontend для проекта по управлению пользователями CRM на ASP.NET. Поэтому тема проекта была вольной.</p>
<p>В итоге я сделал столбчатую диаграмму в которой можно менять значения в колонках. Изменения значения в одной колонке влияет на все остальные колонки:</p>
<ul>
    <li>Если пользователь увеличивает значение, то оно уменьшается во всех остальных колонках.
        <ul>
            <li>Если из остальных колонок больше "нечего брать", то значение не изменится.</li>
        </ul>
    </li>
    <li>Если пользователь уменьшает значение, то оно увеличивается во всех остальных колонках.
        <ul>
            <li>Если в остальные колонки больше нельзя добавить, то значение не изменится.</li>
        </ul>
    </li>
</ul>
<p>На тот момент у меня в голове были мысли о том, что человеческие ресурсы ограничены и прикладывая усилия в одном месте, мы несомненно теряем в другом. С помщью этой диаграммы я хотел проиллюстрировать этот момент.</p>
<p>Чтобы было удобнее работать с диаграммой я так же добавил возможность:</p>
<ol>
    <li>Добавлять колонки.
        <ul>
            <li>При добавлении автоматически "возьмётся" немного процентов из каждой доступной колонки.</li>
        </ul>
    </li>
    <li>Удалять колонки.
        <ul>
            <li>А при удалении - проценты равномерно распределятся по доступным колонкам.</li>
        </ul>
    </li>
    <li>Блокировать изменения в колонке
        <ul>
            <li>Такие колонки не участвуют в пересчётах процентов</li>
        </ul>
    </li>
</ol>
<p>Последним важным моментом, который стоит отметить, является то, что сумма процентов всегда стримится к 100% ± 1%.</p>